.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Inter", "Roboto", "Roboto Slab", "Source Sans Pro", Arial,
    sans-serif;
  background-color: white;
  color: #ffffff;
}
